* {
  box-sizing: border-box;
}

body {
  background: #010001;
  color: #FFFFFF;
  margin: 0;
  padding-top: 53px;
  font-family: 'Roboto',
    sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 90%;
  max-width: 1230px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-link {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  margin: 0 10px;
}

.secondary-menu .item-link {
  color: #808080;
}

.item:last-child .item-link {
  margin-right: 0;
}

.item:first-child .item-link {
  margin-left: 0;
}

.main {
  text-align: center;
  padding: 120px 0 26px;
}

.title {
  font-size: 64px;
  line-height: 75px;
  margin: 0;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-transform: lowercase;
  max-width: 268px;
  margin: 26px auto;
}

.description:after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #FFFFFF;
  margin: 26px auto;
}

.video {
  height: 750px;
}

.features {
  position: relative;
  padding: 100px 0;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.table {
  margin-bottom: 207px;
}

.table-column {
  width: 300px;
  padding: 0 0 11px;
  font-size: 18px;
  line-height: 179.69%;
}

.table-column span {
  color: #B2B0B2;
}

.features-text {
  max-width: 490px;
  font-size: 16px;
  line-height: 29px;
}

.rocket {
  position: absolute;
  max-width: 300px;
  top: 100px;
  right: 0;
  z-index: 99;
}

.footer {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  margin: 43px 0 28px;
}

.footer-nav .item-link {
  font-size: 18px;
  line-height: 21px;
}

.footer-text,
.footer-link {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-decoration: none;
  margin: 0 0 30px;
}

.button {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  min-width: 260px;
  padding: 20px;
  text-align: center;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  text-decoration: none;
}

@media (max-width: 992px) {
  .table-column {
    width: 230px;
  }

  .rocket {
    max-width: 230px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .logo {
    margin-bottom: 20px;
  }

  .header .main-nav {
    margin-bottom: 20px;
  }

  .rocket {
    max-width: 160px;
  }

  .video {
    height: 570px;
  }
}

@media (max-width: 576px) {

  .title {
    font-size: 48px;
  }

  .main {
    padding-top: 70px;
  }

  .video {
    height: 320px;
  }

  .rocket {
    position: static;
    top: 0;
    margin-bottom: 30px;
  }

  .table {
    margin-bottom: 0;
  }

  .table-column {
    font-size: 11px;
    width: 180px;
  }

  .footer {
    text-align: center;
    padding-top: 0;
  }

  .footer-nav .list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-nav .item {
    margin-bottom: 10px;
  }
}